@font-face {
  font-family: BigBlueTerm;
  src: url(Assets/BigBlueTerm437NerdFont-Regular.ttf)
}

:root {
  --bg1: #282828;
  --bg2: #3c3836;
  --bg3: #1d2021;
  --fg: #ebdbb2;
  --red: #cc241d;
  --blue: #458588;
  --green: #98971a;
  --violet: #b16286;
  --pink: #d3869b;
}

/*:root {
  --bg1: #fbf1c7;
  --bg2: #ebdbb2;
  --bg3: #f9f5d7;
  --fg: #3c3836;
  --red: #cc241d;
  --blue: #458588;
  --green: #98971a;
  --violet: #b16286;
  --pink: #8f3f71;
}

/*:root {
  --bg1: #181825;
  --bg2: #1e1e2e;
  --bg3: #11111b;
  --fg: #cdd6f4;
  --red: #f38ba8;
  --blue: #89b4fa;
  --green: #a6e3a1;
  --violet: #cba6f7;
  --pink: #f5c2e7;
}*/

body {
  background: radial-gradient(var(--bg2), var(--bg1), var(--bg3));
  font-family: "BigBlueTerm", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  color: var(--fg);
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 10px var(--fg);
}

h1 {
  color: var(--green);
  text-align: center;
  margin-top: 50px;
  text-shadow: 0 0 10px var(--green);
  font-size: 60px;
}

h2 {
  color: var(--blue);
  text-align: center;
  text-shadow: 0 0 10px var(--blue);
}

.back {
  font-size: 24px;
  text-align: center;
  position: fixed;
  top: 2pc;
  left: 2pc;
  width: auto;
}

.friends {
  font-size: 24px;
  text-align: center;
  position: fixed;
  bottom: 18px;
  right: 10pc;
  width: auto;
  height: 12pc;
}

.socials {
  font-size: 24px;
  text-align: center;
  position: fixed;
  bottom: 18px;
  width: auto;
  height: 12pc;
}

.button {
  display: inline-block;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
}

.centered {
  display: flex;
  justify-content: center;
}

a {
  color: var(--red);
  text-align: center;
  align-items: center;
  text-shadow: 0 0 10px var(--red);
  text-decoration: none;
}

a:hover {
  color: var(--violet);
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme_button {
  position: fixed;
  top: 1pc;
  left: 1pc;
}
